//SASS Variables
$primary-color: #e63946;
$secondary-color: #f1faee;
$accent-color: #045658;
$text-color: #9bbb0d;
$background-color: #e0e0e0;
$wrapper_color: white;
$footer-color: black;
$standard-font-size: 18px;